<template>
  <v-layout column>
    <v-flex xs12 sm12 md12 align-self-center>
      <Logo />
    </v-flex>
    <v-flex xs12 sm12 md12>
      <v-text-field
        v-model="keyword"
        placeholder="请输入明星姓名首字母，回车或点击搜索"
        label="Solo"
        solo
        @keyup.enter="searchClick"
      ></v-text-field>
    </v-flex>
    <v-flex xs12 sm12 md12>
      <p>{{ errors }}</p>
    </v-flex>
    <v-flex xs12 sm12 md12>
      <div class="text-xs-center">
        <v-btn round color="primary" @click="searchClick">搜索</v-btn>
      </div>
    </v-flex>

    <v-flex xs12 sm12 md12>
      <v-data-table
        :headers="headers"
        :items="result"
        hide-actions
        class="elevation-1"
      >
        <template v-slot:items="myprops">
          <td text-xs-right text-sm-right text-md-right text-lg-right>
            {{ myprops.item.name }}
          </td>
          <td text-xs-right text-sm-right text-md-right text-lg-right>
            {{ myprops.item.suoxie }}
          </td>
        </template>
      </v-data-table>
    </v-flex>
  </v-layout>
</template>

<script>
import Logo from '~/components/Logo.vue'

export default {
  components: {
    Logo
  },
  data() {
    return {
      keyword: '',
      result: [],
      headers: [
        { text: '明星姓名', value: 'xingming' },
        { text: '拼音缩写', value: 'pinyin' }
      ],
      errors: ''
    }
  },
  head() {
    return {
      title: '吃瓜World',
      meta: [
        { charset: 'utf-8' },
        {
          hid: 'description',
          name: 'description',
          content: '输入明星姓名每个字的首字母，查到明星姓名，更好地吃瓜！'
        },
        { hid: 'keywords', name: 'keywords', keywords: '明星缩写' }
      ]
    }
  },
  methods: {
    async searchClick() {
      const response = await this.$axios.$post('http://134.209.103.193:5000/', {
        keyword: this.keyword
      })
      if (response === '请输入单个明星的首字母缩写') {
        this.errors = response
      } else {
        this.errors = ''
        this.result = response
      }
    }
  }
}
</script>
